.FreelanceProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 5rem;
    width: 80%;
    gap: 5rem;
}

.ticketSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.freelanceCard {
    background-color: #FFDEAD;
    border-radius: 12px;
    padding: 1.5rem;
    max-width:20rem;
    min-width:16rem;
    display: flex;
    flex-direction: column;
    gap:1.1rem;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}


.freelanceCard h6 {
    font-family: Montserrat-VariableFont_wght;
    font-size: 1.4rem;
    line-height: 2rem;
    
}

.freelanceCard p {
    font-family: Montserrat-VariableFont_wght_3;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.tickets {
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
    
}

@media only screen and (max-width:800px) {
    .FreelanceProfile {
        width:85%;
    }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}